Ntiers-dotNet-webservices/MvcApplication/Service References/MyNorthwindCustomerService/CustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9700/Services/Concrete/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindDAL" />
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindDAL" minOccurs="0" name="GetCustomerResult" nillable="true" type="q1:Customers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindDAL" minOccurs="0" name="GetCustomersResult" nillable="true" type="q2:ArrayOfCustomers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>