Ntiers-dotNet-webservices/MvcApplication/Service References/MyNorthwindRegionService/RegionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9700/Services/Concrete/RegionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindDAL" />
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindDAL" minOccurs="0" name="GetRegionsResult" nillable="true" type="q1:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>