Ntiers-dotNet-webservices/MvcApplication/Service References/MyNorthwindOrderService/OrderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9700/Services/Concrete/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindDAL" />
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindDAL" minOccurs="0" name="GetOrderResult" nillable="true" type="q1:Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindDAL" minOccurs="0" name="GetOrdersResult" nillable="true" type="q2:ArrayOfOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>